
header,
figure,
main,
footer {
    max-width: 760px;
    margin: 1.25rem auto;
}

header,
footer {
    background-color: plum;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

h2 {
    margin: 0px;
    border-bottom: 3px gray solid;
    font-family: 'Roboto', sans-serif;
}

li {
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Alice', serif;
    font-size: 20px;
}

img {
    float: right;
    box-shadow: 5px 5px black;
}