@media only screen and (min-width: 560px) {

.forecast {
    align-items: center;
    justify-content: center;



}

nav button {
    font-size: 75px;
}

nav li {
    text-align: center;
    font-size: 50px;
}

.contact-index div {
    margin: 50px;
}

header h1 {
    font-size: 60px;
}

.index h1 {
    font-size: 50px;
}

.currentweather {
    font-size: 25px;
}

.index-summary {
    font-size: 25px;
}

.forecast div {
    font-size: 15px;
}

/* tours page */

.history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

/* RESERVATION PAGE */

.res-button {
    margin-left: 15px;
}

.rental-type select {
    margin-left: 5px;
}

}