

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0%;
    margin: 0%;
    


}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0%;
}

nav ul.hide {
    display: none;
}

nav button {
    margin-left: 20px;
    font-size: 25px;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 30px;
    outline: none;
}

nav li {
    padding: 10px;
    font-size: 25px;
    margin: 0%;

}

header h1 {
    margin-left: 5px;
    margin-bottom: 0%;
    
    

    

}


.logo {
    
    
    width: 125px;
    border-radius: 10px;
    margin: 5px;
    

    

    
    
}

.motto {
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 0%;
    
    
}

.active {
    background-color: white;
}




nav {
    text-align: center;
    background-color: #8EAF9D;
    margin: 0%;
    padding: 0%;
    font-family: 'Quicksand', sans-serif;
    
    
}

header {
    background-color: #5390f3;
    color: rgba(255, 246, 229, 0.986);
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #8EAF9D;
    padding: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    
}

 
   


   nav li:hover {
       background-color: lightgray;
   }

   h2 {
       color: #A25553;
       margin-left: 5px;
       font-family: 'Quicksand', sans-serif;
       text-align: center;
   }
   
   p {
    font-family: 'Roboto', sans-serif;
   }

   main {
       margin: 0% 5px;
   }

   .falltrees {
       width: 100%;
       
       
      
   }
   .hero {
       width: 100%;
       display: block;
   }

   .herosec {
       position: relative;
   }

   .weathersummary p span {
       color: yellow;
   }

   .weathersummary {
       border: 1px solid black;
       width: 180px;
       height: 155px;
       position: absolute;
       top: 25px;
       left: 0px;
       background-color: rgba(142, 175, 157, 0.7);
   }

   .weathersummary p {
       color: white;
       padding: 5px;
   }

   .fivedayforecast {
       display: none;
       
   }

   .fd {
       display: none;
   }

   h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;

   }

   .weathersummary h3 {
       margin: 0%;
       margin-left: 5px;
       color: darkslategray;
   }


   .prestonart {
       background-color: lightgrey;
       margin-top: 20px;
       padding: 20px;
   }

   .prestonartimg {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
   }


   .prestonart img {
    width: 300px;
    margin-top: 10px;
    box-shadow: grey 10px 10px 10px;
    
   }

   .prestonart h3, h4, p {
       margin-left: 5px;
   }

     .socialmedia  {
       width: 50px;
       margin: 5px;

   }
   .preston-map {
       display: none;
   }

   .contact-us {
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: #b4cbbe;
       padding: 20px;
       margin-top: 15px;
   }

   div {
    font-family: 'Roboto', sans-serif;
   }

   #pancake {
       background-color: lightyellow;
       text-align: center;
       padding: 50px;
       margin: 40px;
       box-shadow: 5px 5px 15px;
       border: 3px solid black;
   }

   div.showme {
       display: block;

   }

   div.hideme {
     display: none;
   }

   header h1 {
    font-family: 'Raleway', sans-serif;
   }

   /* gallery code */
   .gallery {
       display: grid;
       grid-template-columns: 1fr;
       grid-gap: 10px;
   }
   
   .gallery img {
       width: 100%;
   }

   .gallery img:hover {
       box-shadow: gray 8px 8px 10px 3px;
   }

   .gallery figure {
       font-family: 'Roboto', sans-serif;
       text-align: center;
       
   }

   /*STORM CENTER */

  

   form legend {
    font-size: 23px;
}

 form label input {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 20px;
    
   
}



form label {
    font-family: 'Roboto', sans-serif;
    
}

form label input:required {
    border-left: red solid 6px;

}

form label input:required:valid {
  border-left: green solid 6px;
}

.danger {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

form label {
    font-size: 20px;
}

form .button {
  margin: 5px;
  font-size: 30px;
}



  .rangeme {
      display: flex;
      flex-direction: row;
  }

  .danger {
      margin-bottom: 0;
  }
  

    .rad  {
     display: flex;
     
     
     
     


    }

    .rad input {
        margin: 5px;

    }


     


      .comm textarea {
        width: 50%;
        display: block;
        
    
        
      }

      .thankyou {
        text-align: center;
        margin-bottom: 30px;
    }

    /* WIREFRAMES */

    .wireframes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .wireframes img {
        width: 100%;
    }

    /* INDEX CSS */

     .index-hero {
        width: 100%; 
    }

    .index-article {
        background-color: lightgray;
        margin-top: 30px;
    }

    .index-article p {
        padding: 5px;
        
    }
    
    .index-trees {
        float: left;
        width: 50%;
        box-shadow: 5px 5px 8px lightgrey;
        margin: 10px;
        
    }
        

    .towns section {
        margin: 10px;
        border: solid 2px lightgray;
        box-shadow: 10px 10px 8px lightgray;
    }

    .towns section img {
        width: 100%;
        

    }

 .town p, div {
     text-align: center;
 }

 .towns section {
     display: grid;
     grid-template-columns: 1fr;
     
 }

 .town2 {
     grid-row: 3;
 }

 .prestonevents {
    background-color: lightgrey;
}
 }

 .prestonevents h3 {
    margin: 10px;
    padding: 10px;
}

.prestonevents p {
    margin: 7px;
    padding: 5px;
}

 /*fish haven*/

 .fishevents {
     background-color: lightgrey;
 }

 .fishevents h3 {
     margin: 10px;
     padding: 10px;
 }

 .fishevents p {
     margin: 7px;
     padding: 5px;
 }

 .fishart img {
  float: left;
  width: 50%;
  padding: 10px;
  padding-bottom: 5px;
  
  
  
  
 
 
 }

 .fishart {
    background-color: lightgrey;
    margin-top: 20px;
    

 }

 .fishart h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
 }

 .fishart p {
     padding: 4px;
 }

 /* Sodahaven*/

 .sodaevents {
    background-color: lightgrey;
}
 }

 .sodaevents h3 {
    margin: 10px;
    padding: 10px;
}

.sodaevents p {
    margin: 7px;
    padding: 5px;
}

.sodaart {
    background-color: lightgrey;
    margin-top: 20px;
}

.sodaart h3, h4 {
  margin: 0;
  margin-top: 5px;
  margin-left: 2px;
}

.sodaart p {
    padding: 5px;
}

.sodaart img {
    float: right;
    width: 100%; 
    box-shadow: lightgrey 10px 10px 5px;
}


      









   
   


   

   

   
    



   

   
   



  
    

