
main {
    margin: 0 auto;
    max-width: 64rem;

}

main picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


img { 
    margin: 15px;
    border: 1px pink solid;

  
}

h1 {
    text-align: center;
    color: pink;
}



