@media only screen and (min-width: 560px) {
     nav ul {
         display: flex;
         flex-direction: row;
         justify-content: center;
         
     }

     a {
         margin: 0;
         padding: 10px;
     }

     nav, main {
        max-width: 760px;
        margin: 1.25rem auto;
        }

        a:hover {
            background-color: white;
        }

        
    
}